{{- $email := promptString "email" -}}
[data]
    email = {{ $email | quote }}
[git]
    autoCommit = true
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Source }}" }}", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}", "-c", "$wincmd w", "-c", "wincmd J"]
