{{- $email := get . "email" -}}
{{- if not $email -}}
{{- $email = promptString "email" -}}
{{- end -}}

{{- $category := get . "category" -}}
{{- if not $category -}}
{{- $category = promptString "category" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    category = {{ $category | quote }}

[git]
    autoCommit = false

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Source }}" }}", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}", "-c", "$wincmd w", "-c", "wincmd J"]
