[core]
  pager = less -FRXK
  bigFileThresholdbigFileThreshold = 10m
[user]
  name = Mario Manno
  email = {{ .email }}
[push]
  default = current
[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true
[alias]
  amend = commit --amend
  co = checkout
  cp = cherry-pick
  cpc = cherry-pick --continue
  fixup = commit --fixup
  g = grep
  gg = ! git rev-list --all | xargs git grep
  info = remote -v
  lg = log --graph -n 20
  lgm = log --graph -n 20 --merges
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(yellow)%d%C(reset) %s %C(dim white)- %an%C(reset) %C(green)(%ar)%C(reset)'
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(reset)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  logf = log --pretty=fuller --date=short
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  meld = mergetool -t meld -y
  puo = push -u origin
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = "!f(){ git rebase -i origin/$(git main-branch) $@;}; f"
  rom = "!f(){ git rebase origin/$(git main-branch) $@;}; f"
  st = status --short
  sw = switch
  tree = log --oneline --decorate --graph
  unstage = reset HEAD
  what = whatchanged -n 5
  dci = duet-commit -v
  drv = duet-revert
  dmg = duet-merge
  drb = rebase -i --exec 'git duet-commit --amend --reset-author'
  revgrep = ! git grep $@ $(git rev-list --all)
[format]  
  pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s - %C(dim white)%an %Creset%Cgreen(%cr)%Creset
[color]
  ui = auto
[branch]
  autosetuprebase = always
  autosetupmerge = always
[rerere]
  enabled = true
[log]
  abbrevCommit = true
  dateRelative = true
[rebase]
  autosquash = true
  autoStash = true
[diff]
  tool = neovim
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[difftool "neovim"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = neovim
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[mergetool "neovim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
  verbose = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[gpg]
	format = ssh
