# More unimportant aliases
function qwhich () 
{ 
    which $1 &> /dev/null 
}

# misc program options
#
#alias dopewarsserver='dopewars -s -S  < /dev/null >> logfile &'
#alias gtop="gnome-system-monitor"
#alias mgt.here="multi-gnome-terminal --use-factory --start-factory-server --tclass=transparentred 2>&1 > /dev/null &"
# no crash fix:
#alias qiv='XLIB_SKIP_ARGB_VISUALS=1 qiv -e -t'
#alias watchmail='watch --interval=1 countmail'
#alias zork='jzip /usr/lib/games/zfiles/ZORK1.DAT'
#qwhich aterm && alias aterm='aterm -bg black -fg white -tr -sh 30 +sb -fade 75 -fn "-misc-fixed-medium-r-normal-*-14-*-*-*-*-*-iso8859-15"'
#qwhich rxvt && alias bterm='rxvt -ls -bg black -cr green -fg white -C -fn 9x15 -sl 5000'

# Shortcuts
#
alias c4proto='vi c4.protokoll.$(date +%Y%m%d).txt'
alias csgrep='egrep "(public|protected|override|abstract)"'
alias x='echo'
#alias chroot32='sudo chroot /var/chroot32/'

alias schroot32='schroot -p --recover-session'
#alias schroot-end='for i in /var/lib/schroot/session/*(.); do schroot -e -c $(basename $i); done'
alias schroot-end='schroot --all-sessions -e'


# network quick config aliases
#
#alias ifdowna='sudo sh -c "killall dhclient; killall ssh; ifconfig eth0 down; ifconfig eth1 down; ifconfig eth2 down; ifconfig wlan1 down; ifconfig wlan0 down; ifconfig wifi0 down"'
#alias ifwlan='sudo sh -c "killall dhclient; killall ssh; ifconfig eth0 down; modprobe orinoco_pci; dhclient eth1"'
#alias mops='yes| vpnclient connect MoPS'
#alias ifmops='sudo sh -c "killall dhclient; killall ssh; ifconfig eth0 down; modprobe orinoco_pci; iwconfig eth1 essid mops; dhclient eth1; /etc/init.d/vpnclient_init restart;yes| vpnclient connect MoPS"'
#alias ifcable='sudo sh -c "killall dhclient; killall ssh; ifconfig eth1 down; ifconfig eth0 down; rmmod e100 orinoco_pci orinoco hermes; modprobe eepro100; dhclient eth0"'
#alias ifslow='sudo sh -c "killall dhclient; killall ssh; ifconfig eth1 down; ifconfig eth0 down; rmmod orinoco_pci orinoco hermes eepro100 e100; modprobe e100 e100_speed_duplex=1; dhclient eth0"'
#alias remops='ifdown;ifmops'
#alias mpprism='sudo killall dhclient; sudo sh -c "ifconfig eth1 down; ifconfig wlan0 down;rmmod hostap_pci hostap_crypt hostap orinoco_pci orinoco hermes;modprobe prism2_pci"'
#alias mphostap='sudo killall dhclient; sudo sh -c "ifconfig eth1 down; ifconfig wlan0 down;rmmod prism2_pci p80211 orinoco_pci orinoco hermes ;modprobe hostap_pci"'
#alias mporinoco='sudo killall dhclient; sudo sh -c "ifconfig eth1 down; ifconfig wlan0 down;rmmod prism2_pci p80211  hostap_pci hostap_crypt hostap;modprobe orinoco_pci"'
#alias kismet="mpprism; sudo kismet; sudo kismet_unmonitor"
#

if [ "$TERM" = "cygwin" ]; then
  alias e:='cd /cygdrive/e'
  alias c:='cd /cygdrive/c'
fi
